/* Accounts.css */
.form-container {
    padding: 1rem;

  }
  
  .form-input-group {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    font-size: 0.875rem; /* Tailwind's text-sm */
    font-weight: 700; /* Tailwind's font-bold */
    margin-bottom: 0.5rem;
  }
  
  .input {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0; /* Tailwind's border */
    border-radius: 0.25rem; /* Tailwind's rounded */
    width: 100%;
    padding: 0.5rem 0.75rem; /* Tailwind's py-2 px-3 */
    color: #4a5568; /* Tailwind's text-gray-700 */
    /* Tailwind's focus:outline-none and focus:shadow-outline */
  }
  
  .input:focus {
    outline: none; /* Removes the default browser focus outline */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Tailwind's focus:shadow-outline */
  }
  
  .link {
    position: relative;
    top: 50%; /* Vertical centering for inline elements might not work as expected */
    right: 0.75rem; /* Tailwind's right-3 */
    transform: translateY(-50%);
    cursor: pointer;
    color: #3b82f6; /* Tailwind's text-blue-500 */
    text-decoration: none;
  }
  
  .link:hover {
    color: #2563eb; /* Tailwind's hover:text-blue-600 */
  }
  
  .button {
    background-color: #3b82f6; /* Tailwind's bg-blue-500 */
    color: #ffffff;
    font-weight: 700; /* Tailwind's font-bold */
    padding: 0.5rem 1rem; /* Tailwind's py-2 px-4 */
    border-radius: 0.25rem; /* Tailwind's rounded */
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #2563eb; /* Tailwind's hover:bg-blue-700 */
  }
  
  .button-red {
    background-color: #ef4444;
    margin-left: 2px; /* Tailwind's bg-red-500 */
  }
  
  .button-red:hover {
    background-color: #dc2626; /* Tailwind's hover:bg-red-700 */
  }
  
  .table {
    width: 100%; /* Tailwind's min-w-full */
    margin-top: 1rem;
    background-color: #ffffff; /* Tailwind's bg-white */
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem; /* Tailwind's rounded */
  }
  
  .thead {
    background-color: #f7fafc; /* Tailwind's bg-gray-100 */
    border: 1px solid #e2e8f0;
  }
  
  .th-td {
    text-align: left;
    padding: 0.5rem 0.75rem; /* Tailwind's py-2 px-3 */
    border-bottom: 1px solid #e2e8f0;
  }
  
  .tr {
    border-bottom: 1px solid #e2e8f0; /* Tailwind's border-b */
  }
  