/* layout.css */

/* Define your global styles here */

body {
  margin: 0;
  font-family: 'Arial', sans-serif; /* Adjust the font family as needed */
  background-color: #ffffff; /* Adjust the background color as needed */
}

/* Define the styles for the dashboard container */
.dashboardContainer {
  display: flex;
}

/* Define the styles for the sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  background: #fff;
  height: 100vh; /* Adjust the height as needed */
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar li:hover {
  background: #e5e5e5;
}

/* Define the styles for the card container */
.cardContainer {
  flex: 1;
  padding: 16px;
}

/* Define the styles for the card */
.card {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardBody {
  margin-top: 9rem;
  padding: 16px;
}

/* Define any other styles you may need for your layout */
